#aboutHeader {
    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 5%;

    /*text-shadow: 0 0 2px #34495e;*/
}

#profile {
    border-radius: 30%;
}

#aboutMe {
    width: 700px; height: 370px;
    margin: 0 auto;
    padding-top: 1.2%;
    margin-top: 2%;

    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.9);

    border-radius: 23px;
    box-shadow: 3px 5px 15px darkgray;
}

#aboutMeTable {
    font-family: S-CoreDream-3Light;
    font-size: 18px;

    width: 80%; height: 45%;
    text-align: left;

    margin: 0 auto;
    padding-top: 1.3% ;
}