.contactDiv {
    display: inline-block;
    background-color: lightgray;
    border-radius: 30px;
    width: 30%; height: 70%;

    margin: 0 2% 2% 2%;

    text-align: center;
    align-content: center;

    box-shadow: 3px 5px 13px darkgray;
}

.contactP {
    font-family: Freesentation-9Black;
    font-size: 32px;
    color: #34495e;
    text-shadow: 0 2px 3px darkgray;
}

#myCanvas {
    background-color: white;
    margin: 5% 0;

    border-radius: 15px;
    box-shadow: 0 1px 5px darkgray;
}
#myCanvas:hover {
    cursor: crosshair;
}

.form-control {
    border: none!important;
    border-radius: 10px;

    width: 65%;
    padding: 10px;

    font-family: Arial, sans-serif;
    font-size: 18px;

    box-shadow: 0 1px 5px darkgray;
}

.form-control::placeholder {
    color: #D2D2D2;
}

#contact_name {
    height: 30px;
    margin-top: 3%;
}

#contact_email {
    height: 30px;
    margin-top: 1.2%;
}

#contact_message {
    margin-top: 3%;
    resize: none;
}

#btnSubmit {
    width: 20%;
    height: 40px;

    border: none;
    border-radius: 10px;
    margin: 5% 0;

    font-size: 20px;

    color: #f0f0f0;
    background-color: #34495e;

    box-shadow: 0 1px 5px darkgray;
}