section:nth-of-type(2) {
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#intD {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 80%;
    margin-bottom: 2.5%;
}

#intBtnDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 10%;
    height: 65%;
    margin: 1% 0 0 11%;
}

#intContentDiv {
    display: flex;
    flex-direction: column;
    position: relative; /* position을 relative로 변경 */
    width: 58%;
    height: 66%;
    background-color: #f0f0f0;
    margin-top: 1%;
    padding: 2% 3.5% 8%;
    border-radius: 40px;
    box-shadow: 3px 5px 13px darkgray;
}

.navBtn {
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #617e6e;
    color: #f0f0f0;
    border: none;
    border-radius: 50%;
    box-shadow: 3px 5px 13px darkgray;
    cursor: pointer;
    position: absolute;
    top: 20px;
}

#leftBtn {
    right: 130px;
    top: 30px;
    text-align: center;
}

#rightBtn {
    right: 50px;
    top: 30px;
    text-align: center;
}

.intBtn {
    width: 90px; height: 90px;

    font-size: 20px;
    background-color: #f0f0f0;

    border-radius: 50%;
    border: transparent;

    text-shadow: 1px 1px 2px gray;
    box-shadow: 3px 5px 13px darkgray;

    margin: 0 3%;
}

.intBtn:hover {
    transform: translateY(-10%);
}


#contentTitle {
    font-family: Freesentation-9Black;
    font-size: 32px;
    text-shadow: 0 2px 3px darkgray;
    line-height: 0.5;
}

#content {
    font-family: Pretendard-Regular;
    font-size: 19px;
    text-align: justify;
    line-height: 1.4;
}

.icspan {
    font-weight: bold;
    font-size: 21px;
    color: #237040;
    background-color: #dce4dc;
    margin-bottom: 3%;
    text-shadow: 0 1px 1px darkgray;
}

#iimgD {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.iimg {
    width: 5%;
}

.mcPage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mcVideo {
    width: 30%;
    max-height: 500px;
    padding-right: 20px;
}

.mcImg {
    max-height: 500px;
    margin-right: 20px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.mcText {
    width: 70%;
    font-family: Pretendard-Regular;
    font-size: 19px;
    text-align: justify;
    line-height: 1.4;
}

.h {
    background-color: #ededc0;
}
