section:nth-of-type(2) {
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#planD {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 80%;
    margin-bottom: 2.5%;
}

#planBtnDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 10%;
    height: 65%;
    margin: 0 0 0 11%;
}

.planContentDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 62%;
    height: 75%;
    background-color: #f0f0f0;

    margin: 0 0 3% 20%;
    border-radius: 40px;
    padding: 1.5% 0 1% 3%;
    box-shadow: 3px 5px 13px darkgray;
}

.planCDs {
    /*flex: 1 1 40%;
    box-sizing: border-box;*/
    /*background-color: white;*/
}

.planP {
    width: 90px;
    height: 20px;
    font-family: Freesentation-9Black;
    font-size: 23px;
    margin-left: 3%;
    line-height: 0.8;
    background-color: #dce4dc;
    text-shadow: 0 2px 3px darkgray;
}

.planList {
    font-family: Pretendard-Regular;
    font-size: 18px;
    text-align: justify;
    line-height: 1.7;
}

.planLists {
    font-family: Pretendard-Regular;
    font-size: 17px;
    text-align: justify;
    line-height: 1.4;
}